@use '../abstracts/mixins' as *;

.hero {
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 100px;
		border-radius: 40px;
		background-image: url('../../assets/images/img-hero.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__content {
		max-width: 530px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__title {
		color: var(--text-inverse);
		font-size: var(--fs-heading-1);
		font-weight: var(--fw-semibold);
		line-height: var(--lh-heading-1);
	}

	&__description {
		color: var(--text-inverse, #e1d4c9);
		font-weight: 400;
		line-height: 150%;
	}

	&__btn {
		display: flex;
		width: 200px;
		padding: 20px;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		background: var(--bg-page, #e1d4c9);

		@include hover {
			.hero__btn-icon {
				opacity: 1;
				transform: translateY(-50%);
			}
		}
	}

	&__btn-label {
		position: relative;
		color: var(--text-primary, #403f3d);
		font-size: var(--fs-action);
		font-weight: var(--fw-semibold);
		line-height: var(--lh-action);
	}

	&__btn-icon {
		position: absolute;
		top: 50%;
		left: calc(100% + 8px);
		opacity: 0;
		transform: translateY(-50%) translateX(-6px);
		transition:
			opacity var(--transition-fast),
			transform var(--transition-fast);
	}
}
