@use '../abstracts/mixins' as *;

.container {
	width: 100%;
	max-width: var(--container-max);
	margin: 0 auto;
	padding: 0 var(--container-padding);

	@include tablet {
		--container-padding: 24px;
	}

	@include mobile {
		--container-padding: 16px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip-path: inset(50%);
}
