@use 'mixins' as *;

:root {
	--font-main:
		'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, sans-serif;

	/* Layout */
	--container-max: 1440px;
	--container-padding: 40px;
	--block-padding-y: 100px;
	--block-padding-x: 100px;

	/* Motion */
	--transition-fast: 0.2s ease;
	--transition-theme: 0.3s ease;

	/* Typography - вес */
	--fw-regular: 400;
	--fw-semibold: 600;

	/* Typography - Desktop */
	--fs-heading-1: 72px;
	--lh-heading-1: 1.05;
	--fs-heading-2: 60px;
	--lh-heading-2: 1.25;
	--fs-heading-3: 24px;
	--lh-heading-3: 1.25;
	--fs-body: 16px;
	--lh-body: 1.5;
	--fs-caption: 10px;
	--lh-caption: 1.4;
	--fs-action: 16px;
	--lh-action: 1.5;
	--fs-burger-link: 32px;
	--lh-burger-link: 1.25;

	/* Colors - Light */
	--text-primary: #403f3d;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--bg-page: #e1d4c9;
	--bg-container: #665f55;
	--bg-overlay: #403f3dcc;
	--border-primary: #c1b6ad;
	--border-inverse: #665f55;

	/* Layout & Typography - Tablet. */
	@include tablet-only {
		--tablet-progress: calc((100vw - 425px) / 343);
		--container-padding: clamp(16px, 16px + 24 * var(--tablet-progress), 40px);
		--block-padding-y: clamp(60px, 60px + 40 * var(--tablet-progress), 100px);
		--block-padding-x: clamp(16px, 16px + 44 * var(--tablet-progress), 60px);
		--fs-heading-1: clamp(42px, 42px + 30 * var(--tablet-progress), 72px);
		--fs-heading-2: clamp(32px, 32px + 28 * var(--tablet-progress), 60px);
	}

	/* Layout & Typography - Mobile.*/
	@include mobile {
		--container-padding: 16px;
		--block-padding-y: 60px;
		--block-padding-x: 16px;
		--fs-heading-1: 42px;
		--lh-heading-1: 1.15;
		--fs-heading-2: 32px;
		--lh-heading-2: 1.25;
	}
}

[data-theme='dark'] {
	/* Colors - Dark. */
	--text-primary: #e1d4c9;
	--bg-page: #292826;
	--bg-container: #403f3d;
	--bg-overlay: #292826cc;
	--border-primary: #665f55;
	--border-inverse: #c1b6ad;
}
